.welcomeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3.5rem;
  height: 100%;
  width: 100%;
}

.text {
  z-index: 100;
  margin-top: 20rem;
}

.image {
  object-fit: cover;
}
