.item {
  display: flex;
  flex-direction: row;
  height: 15rem;

  column-gap: 2rem;
}

.imageContainer {
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.imageContainer img {
  height: 100%;
  object-fit: cover;
}
.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1.6rem;
}
