.section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  line-height: 1rem;
  align-items: center;
  justify-content: center;
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 36rem;
}
.imageContainer {
  height: 100%;
}

.imageContainer img {
  height: 100%;
  object-fit: cover;
}
.inverted {
  flex-direction: row-reverse;
}

.textContainer {
  width: 50%;
}
